<div class="main-container">
    <div class="page-centered-content">
        <div class="two-column-layout">
            <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Applicant</mat-label>
                        <mat-select formControlName="EmployeeId">
                          <mat-option *ngFor="let employee of employees$ | async" [value]="employee.employeeId">{{employee.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Manager</mat-label>
                        <mat-select formControlName="ManagerId">
                            <mat-option *ngFor="let employee of employees$ | async" [value]="employee.employeeId">{{employee.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
               </div>
                <div class="col">
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="StartDate" formControlName="StartDate">
                        <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
                        <mat-datepicker #StartDate></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="EndDate"formControlName="EndDate">
                        <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
                        <mat-datepicker #EndDate></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="col"><mat-form-field appearance="outline">
                    <mat-label>Days</mat-label>
                    <input matInput formControlName="NumberOfDays">
                  </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field color="accent" appearance="outline">
                        <mat-label>Return Date</mat-label>
                        <input matInput [matDatepicker]="returnDate" formControlName="ReturnDate">
                        <mat-datepicker-toggle matSuffix [for]="returnDate"></mat-datepicker-toggle>
                        <mat-datepicker #returnDate></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="col-full">
                    <mat-form-field appearance="outline">
                    <mat-label>General Comments</mat-label>
                    <textarea matInput formControlName="Comments" #Comments></textarea>
                  </mat-form-field></div>
                  <div class="footer">
                    <button mat-stroked-button>Cancel</button>
                    <button mat-stroked-button color="primary" type="submit" [disabled]="!leaveForm.valid" value="Submit">Submit</button>
                </div>
            </form>
    
        </div>
    </div>

</div>
